*{margin:0px; padding:0px;border:0px;}
.page{ width:80%; margin:auto; padding:10px; background: teal; }
                h1{text-align: center}
                hr{margin:20px;}
                
                //#tblseleccion{ border:1px solid  white;color:white; margin:auto;margin-bottom: 40px;}
                //#tblAlumnos {margin:auto;  margin-bottom: 30px;border:1px solid black;}
		.id {width: 100px }
		.nombre { width: 180px }
                .numerico { width: 100px; text-align: right; margin-right: 5px; }
                 td, th,tr{border:1px solid  white;color:white;font-size: 20px;}
                
                button{margin:20px; }

